<%- include('partials/header.ejs') -%>
<br>    

    <div class="conatiner" style="text-align: center;float: left;margin: 2em;">    
        <a href="user/editinfo"><button class='btn btn-primary'>edit your profile</button></a>
        <a href="member/logout"><button class='btn btn-danger'>logout</button></a>
    </div>

    <div class="container" style="margin: 2em;margin-left: 15%;text-align: center;">    
            <%if(message) {%>
                <div class="alert alert-success"> <%=message%> </div>
            <%}%>

            <%if(data.lenght == 0) {%>
                No book    
            <%} else{ let count = 0; %>
                <%data.forEach( (book,index)=>{ %>
                    <%if(count == 0){ %>
                        <div class="card-group" style="width: 100%;margin:1em;">
                    <%}%>
                        <div class="card" style="margin-top: 3%;" >
                           <%count++%>
                            <center>
                                <img src="<%=book.book_url%>" class="card-img-top" style="margin: 5px;width: 80%;"/>
                            </center>
                            <div class="card-body" >     
                                Name: <b><%=book.book_name%></b> <br>
                                Price: <b><%=book.book_price%></b> <br>
                                Status: <%if(book.book_status == 1) {%>
                                            <b style="color:green;"> In stock</b><br>
                                            <a href="order/buy/<%=book.book_id%>" style="margin:2em;">
                                                <button class="btn btn-primary"> Buy </button>
                                            </a>    
                                        <%} else{%>
                                            <b style="color:red;"> Out of stock</b><br>
                                            <a style="margin:2em;" href="#">
                                                <button class="btn btn-danger" disabled> Buy </button>
                                            </a>   
                                        <%}%>
                                </div>
                            </div>
                        <%if(count == 4){ count = 0%>    
                        </div>
                        <%}%>
                 <%})%>
            <%}%>



    </div>

    
</body>
</html>